<!-- Main renderer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/fa-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/{{style}}"/>
    <link rel="icon" name="icon" type="image/icon" href="img/logo.png"/>

    <script type="application/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="application/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="js/{{js}}"></script>

    <title>{{title}}</title>
</head>

{{{body}}}

</html>