<body class="text-center">
    <h1><b>Error 404</b></h1>
    <br>
    <h2>La pagina che stai cercando non esiste!</h2>
    <br>
    <a href="/">
        <button class="btn btn-prenota btn-lg">Torna alla Home</button>
    </a>
</body>