<div class="text-center">
    <h1>Logout effettuato con successo!</h1>
    <h2>Clicca <a href="/">qui</a> 
    se non vieni reindirizzato alla home page entro 2 secondi</h2>
    
    <!-- Redireziona alla home page -->
    <meta http-equiv="refresh" content="2; url=/"/>
</div>